{% extends "layout.html" %}

{% block title %}Post{% endblock %}

{% block main_content %}
        <!-- Page Header-->
        {% set back_img = url_for('static', filename = 'assets/img/post-bg.jpg') %}
        <header class="masthead" style='background-image: url("{{ back_img }}")'>
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post_data.title }}</h1>
                            <h2 class="subheading">{{ post_data.subtitle }}</h2>
                            <span class="meta">
                                Posted by Admin
                                on {{ post_data.date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ post_data.content }}</p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}